.counter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    z-index: 10;
}

p,
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.counter__icon--cell {
    display: flex;
    width: 258px;
    height: 124px;
    background-color: #F5F5F5;
    margin-bottom: 0px;
    border-radius: 5px;

}

.counter__icon {
    margin: 32px;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    text-align: center;
}

.counter__icon img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.counter__text {
    margin-top: 43px;
}

.counter__text p {
    font-size: 14px;
    color: #979797;
}